[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
debugpy = "*"
pylint = "*"
black = "*"
ipython = "*"
flake8 = "*"

[packages]
pyyaml = "*"
msgpack = "*"
gremlinpython = "*"
python-box = "*"
toml = "*"
gitpython = "*"
mlspeclib = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
